.site--header {
  margin-bottom: 1rem;
}
.site--title {
  color: blue;
}

h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.ratios {
  li {
    margin-bottom: .5em;
  }
  img {
    display: block;
    margin-top: .2em;
    height: 10vh;
  }
}